.scraps-item {
  background: #343a40;
  height: 225px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.scraps-item:hover {
  color: white;
  text-decoration: none;
  background: #343a40ab;
}

.scrap-editor {
  display: none;
}
