extends layout.pug

block content
  form(action='/config', method='POST')
    input(type='hidden', value=``)
    div
      textarea(name='config')
    div
      input(type='submit', value='Submit')

block scripts
