doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
  body
    header
      nav
        if session.user
          a(href='/') Top
          a(href='/new') New Scrap
          a(href='/config') Config
        else
          a(href='/login') Login
          a(href='/register') Register

    div
      block content

    block scripts
