extends layout.pug

block content
  form(action='/register', method='POST')
    div
      input(type='text', name='name')
    div
      input(type='password', name='password')
    div
      input(type='submit', value='Register')

block scripts
